html>
<head>
<style type="text/css">
.background_image{ position:absolute;
top: 0px;
left: 0px;
z-index:1; }
.foreground_image { position: absolute;
 top: 100px;
 left: 100px;
z-index:2; }
</style>
</head>
<body>
<p><img src = "C:\Users\y22cs161\Desktop\shiv.jpeg" class = "background_image"
 alt = "First positioned image"  width="400" height="400"/></p>

 <p><img src = "C:\Users\y22cs161\Desktop\gana.jpeg" class = "foreground_image"
alt = "Second positioned image" width="200" height="200"/></p>

</html>
